* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: tahoma;
}

ul {
    list-style: var(--reset);
    padding: 0;
}

a {
  text-decoration: var(--reset) !important;
}

:root {
    --maincolor: #4232c2;
    --textcolor:rgba(0,0,0,.55);
    --reset: none
}

/*Start Nav And Header */

header nav {padding: 12px 0; box-shadow: 0 5px 5px  rgba(0,0,0,.15); position: relative; z-index: 2;}

header .navbar .logo {padding: 0;}

header .navbar .logo a {color: #000; font-size: 23px; text-transform: capitalize; font-weight: bold;}

header .navbar .logo a span {color: var(--maincolor)}

header .navbar .logo a img {width: 25px; height: 25px;}

.navbar .link ul {
    height: 100%;
    align-items: center;
    padding: 0;
    justify-content: space-evenly;}

.navbar .link ul li {padding: 10px; border-radius: 6px; border-radius: 20px; cursor: pointer;}

.navbar .link ul li a {color: var(--textcolor); text-transform: capitalize;}

.navbar .link ul li:hover {background-color: var(--maincolor);}

.navbar .link ul li:hover a {color: #FFF;}

.navbar .nav-icons {display: flex; justify-content: space-between; font-size: 22px; color: var(--maincolor);}

.navbar .nav-icons i {cursor: pointer;}

.navbar .nav-icons i:first-child:hover {animation: ring 1.5s ease infinite;}

@keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }
    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
  }
  
/*END Nav And Header */
/* pricing-section */
  section {
      padding: 50px 0;
  }
.global-header {
    padding: 50px;
    text-transform: capitalize;
}

.global-header p {
    color: var(--textcolor);
}

.pricing-content{
    box-shadow: 0 0 25px #00000026;
    padding: 60px 0;
    border-radius: 15px;
    transition: 0.3s;
    flex-basis: 30%;
}

.pricing-content:hover {
    transform: scaleY(1.2);
    background-color: #6266ea;
}

.pricing-content:hover li i , .pricing-content:hover li span , .pricing-content:hover li {
    color: #FFF !important;
}

.pricing-content:hover .button-price button{
    color:#FFF !important;
    border: 1px solid #FFF !important;
}

.icon-price ul li i  {
    font-size: 40px;
    color: #6266ea 
}


.icon-price ul li:nth-child(2) span {
    color: #000;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 19px;
    display: inline-block;
    margin: 5px 0;
}

.icon-price ul li:nth-child(2) span {
    color: var(--textcolor);
}

.services{
    display: flex;
    justify-content: center;
}
.services .service-price  li {
    color: var(--textcolor);
    margin-bottom: 5px;
}



.services .service-price  li i  {
    margin-right: 10px;
    font-size: 14px;
    color: black
}

.button-price button:hover {
    background: #6266ea;
    color: #FFF !important;
    transition: 0.3s;
}

/* price */ 

/* our-pricing */
.our-pricing {
    background: #f6f9fe;
}
.icon-our-plan {
    height: 250px;
    background-color: #6266ea ;
    position: relative;
}
.our-pricing-content {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.555);
    padding: 0;
    border-radius: 20px ;
    background-color: #FFF;
}
.icon-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-transform: capitalize;
    color: #FFF;
}
.icon-our-plan .icon-content i {
    display: block;
    font-size: 45px;
    margin-bottom: 15px;
}

.icon-our-plan .icon-content {
    font-size: 18px;
}
.our-pricing-content .services{
    align-items: center;
}

.our-pricing-content .button-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*END our price*/

/*Start pricing2 */
.price-plan-content {
    box-shadow: 0 0 10px rgba(93, 93, 93, 0.198) ;
    padding: 20px 0;
    border-radius: 10px;
}
.price-plan2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icon-box {
    font-size: 45px;
    color: #6266ea
}
.desc-for-price {
    color: var(--textcolor);
}
.anchor-price {
    line-height: 67px;
}

.anchor-price a {
    background-color: #4232c2;
}
.anchor-price a:hover {
    background-color: #2a1aa0;
}
/*END pricing2*/
/* start footer */
.foot {
    background-color: #6266ea;
    padding: 70px 0;
}
  .footer-logo {
     color: #FFF;
}
 
.footer-logo .logo a i {
     font-size: 25px;
     color: #FFF;
}
 
.footer-logo .logo a span {
     color: #FFF;
     text-transform: capitalize;
     font-size: 25px;
}
 
.footer-logo .pargraph-footer {
     margin: 25px 0;
}
 
.footer-logo .footer-icons ul li  {
     display: inline-block;
     font-size: 30px;
     cursor: pointer;
     transition: 0.2s;
}
 
.footer-logo .footer-icons ul li:not(:last-child){
     margin-right: 10px ;
}
 
.footer-logo .footer-icons ul li:hover {
     color: #bfbfbf;
}
 
.foot .info {
     color: #FFF;
     text-transform: capitalize;
}
 
.info .our-company h3, .info .our-footer-work h3 , .for-client h3 {
     font-weight: lighter;
     font-size: 25px;
     margin-bottom: 25px;
}
 
.info .our-company ul, .info .our-footer-work ul {
     padding: 0;
}
 
.info .our-company ul, .info .our-footer-work ul , .for-client ul ,.footer-logo .footer-icons ul {
     padding: 0;
}
 
.info .our-company a, .info .our-footer-work a {
     font-weight: lighter;
 
}
 
.info .our-company li i, .info .our-footer-work li i  {
     margin-right: 5px;
}
 
.info .our-company li i, .info .our-footer-work li i ,.info .our-company a, .info .our-footer-work a , .for-client li i , .for-client li a {
     color: #FFF;
     font-size: 15px;
}
 
.for-client {
     color: #FFF;
     text-transform: capitalize;
}
 
.for-client li:not(:last-child) i {
     margin-bottom: 10px;
}
 
.the-end {
     background-color: #4232c2;
     color: #ffffffc4;
     padding: 25px 0;
     text-transform: capitalize;
     font-size: 18px;
}
 
.the-end-flex  {
     justify-content: space-between;
}
 
.designed-bY p span {
     color: #FFF;
}
 
.designed-bY p , .copyright p {
     margin: 0;
}

@media (min-width: 500px){   /*Media Query 500px sm*/
    /*------------navbar---------------*/ 
     .button {
        text-align: center;
        font-size: 28px;
        font-weight: lighter;
        cursor: pointer;
        user-select: var(--reset);
        display: block;

    }

    .navbar .link {height: 0; overflow: hidden;}
    
    .navbar .nav-icons {height: 0; overflow: hidden;}
    
    .navbar .link ul  {display: block; text-align: center; margin-bottom: 10px; user-select: var(--reset);}

    .link.clicked, .nav-icons.clicked {height: 100% ; overflow: visible; padding: 0;}  
/*--------------END navbar----------------*/

/* start footer */
    .the-end-flex .designed-bY , .the-end-flex .copyright {
        text-align: center;
    }

/* end footer*/
    .pricing-content{
        
        flex-basis: 65%;
        margin: 28px auto !important;
    }
    .icon-our-plan {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }
    .our-pricing-content {
        width:400px;
        margin: auto;
        height: 550px;
    } 
} /*END Media Query 500px sm*/

@media (min-width: 768px) {

    .foot .info {
        display: flex;
        justify-content: space-between;
    }

    .pricing-content{
       
        flex-basis: 30%;
    }
    .icon-our-plan {
        border-top-left-radius: 20px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
    }

    .our-pricing-content {
        width:700px;
        margin: auto;
        height: 250px;
    }
}

@media (min-width: 992px){ /*Start Media Query 992px lg*/

    /*--------------navbar----------------*/
    .button {display: none;}

    .navbar .link {height: 100%; overflow: visible;}

    .navbar .nav-icons {height: 100%; overflow: visible;}

    .navbar .link ul  {display: flex; text-align: left; margin-bottom: 0;}
/*--------------navbar----------------*/



/* END button section */
/*start transform section */
.transform-imgs {
        justify-content:flex-end;
    }
    .transform-imgs .img {
        flex-basis: 40%;
    }
    /* end trans section*/ 
    /* start footer */
    .foot .info {
        display: flex;
        justify-content: space-evenly;
    }

    .the-end-flex .designed-bY {
        text-align: right; 
    }

    .the-end-flex .copyright {
        text-align: left; 
    }
    /* end footer */
    .pricing-content{
        
        flex-basis: 30%;
    }

    .our-pricing-content {
        width:900px;
        margin: auto;
    }

}

@media (min-width: 1200px) {

    .our-pricing-content {
        width:1100px;
        margin: auto;
    }
}
